.home-container {
    width: 320px;
    height: 600px;
    background-color: var(--bg);
    flex-direction: column;
    padding: 20px 0 20px 0;
    justify-content: space-between;
    border-radius: 8px;
}

.home-container,
.home-mode,
.male-btn,
.female-btn,
.home-btns-heights,
.height-scale-elements,
.home-btn-weight,
.home-btn-age,
.plus,
.minus,
.home-result-btn {
    display: flex;
    align-items: center;
}

.home-mode {
    justify-content: space-around;
    height: 25px;
    width: 80px;
    background-color: var(--widget);
    border-radius: 8px;
}

.home-intro {
    width: 90%;
}

.home-intro p:nth-child(1) {
    color: var(--text1);
    font-size: 1rem;
    font-weight: 300;
}

.home-intro p:nth-child(2) {
    color: var(--text1);
    font-size: 1.5rem;
    font-weight: 600;
}

.male-female-btn {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.male-btn,
.female-btn {
    background-color: white;
    color: var(--hl);
    width: 47%;
    height: 40px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 400;
    gap: 10px;
}

.male-btn {
    padding-left: 30px;
}

.female-btn {
    padding-left: 22px;
}

.btn-active {
    background-color: var(--hl);
    color: white;
}

.home-btns {
    width: 90%;
    display: flex;
    justify-content: space-between;
    height: 57%;
}

.home-btns-heights {
    padding: 10px 0 10px 0;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    width: 47%;
    background-color: var(--widget)
}

.height-controles {
    height: 90%;
    width: 75%;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}

.height-bar {
    display: flex;
    align-items: end;
    overflow-y: hidden;
    border-radius: 30px;
    width: 18%;
    background-color: rgba(209, 217, 230, 1);
}

.height-bar-progress {
    height: 50%;
    width: 100%;
    border-radius: 30px;
    background-color: var(--hl);
}


.height-scale {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: black; */
}

.height-scale-elements {

    justify-content: space-between;
    width: 100%;
    color: var(--scalemarks);
    font-size: .7rem;
    font-weight: 400;
}

.height-scale-elements span {
    display: block;
    height: 1px;
    width: 40px;
    border: 1px solid var(--text2);
    background-color: var(--text2);
}

.home-btns-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    width: 47%;
    /* background-color: red; */
}

.home-btn-weight,
.home-btn-age {
    padding: 10px 0 10px 0;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    height: 47%;
    background-color: var(--widget);
    /* background-color: orange; */
}

.home-btn-weight p:nth-child(1),
.home-btn-age p:nth-child(1),
.home-btns-heights>p:nth-child(1) {
    font-size: .8rem;
    font-weight: 400;
    color: var(--text2);
}

.home-btn-weight p:nth-child(2),
.home-btn-age p:nth-child(2) {
    font-size: 3rem;
    font-weight: 600;
    color: var(--text1);
}

.home-btn-smbtn {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.plus,
.minus {
    justify-content: center;
    background-color: var(--hl);
    height: 36px;
    width: 36px;
    color: white;
    border-radius: 8px;
    font-size: 1.8rem;
    font-weight: 200;
}

.home-result-btn {
    justify-content: center;
    background-color: var(--hl);
    color: white;
    width: 90%;
    height: 40px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 400;
}