.result-container {
    width: 320px;
    height: 600px;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 20px 0;
    justify-content: space-between;
    border-radius: 8px;
}

.result-container>div:nth-child(1) {
    width: 40px;
    font-size: .8rem;
    font-weight: 500;
    margin-left: 30px;
    color: var(--text1);
    align-self: flex-start;
}

.result-container>div:nth-child(2) {
    align-self: flex-start;
    color: var(--hl);
    margin-left: 30px;
    font-size: 1.5rem;
    font-weight: 600;
}

.bmi-indicator {
    position: relative;
    text-align: center;
    height: 230px;
    width: 230px;
    transform: rotate(180deg);
}
.bmi-indicator-comp {
   transform: rotate(180deg);
}

.bmi-indicator>p:nth-child(2) {
    transform: rotate(180deg);
    position: absolute;
    top: 68px;
    left: 39px;
    font-size: 4.5rem;
    font-weight: 700;
    color: var(--hl);
}

.result-container>p:nth-child(4) {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--hl);
}
.result-text {
    width: 90%;
    background-color: var(--widget);
    color: var(--text1);
    font-size: .7rem;
    padding: 15px 10px;
    border-radius: 8px;
}
.result-more-btn {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--hl);
    color: white;
    width: 90%;
    height: 40px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 400;
}