body{
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
}
.app-container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/background1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  
}
.calculator-body{
  --text1:#000000;
  --text2:#8C8C8C;
  --widget:#FFFFFF;
  --hl:#246AFE;
  --bg:rgba(209, 217, 230, 1);
  --mode:#D9D9D9;
  --scalemarks:#8C8C8C;

}
.calculator-body[data-theme="dark"]{
  --text1:#FFFFFF;
  --text2:#8C8C8C;
  --widget:rgba(55, 55, 55, 1);
  --hl:#246AFE;
  --bg:rgba(36, 36, 36, 1);
  --mode:#D9D9D9;
  --scalemarks:rgba(209, 217, 230, 1);

}

/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  Remove list styles (bullets/numbers)
  in case you use it with normalize.css
*/
ol, ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}